*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--fontFamilyBase);
}

body {
  background: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}
